//通用樣式
.bg-lilysweety{
  background-color: lighten($info,45%);
}
.box-shadow{
  box-shadow: 0px 5px 6px rgba(0, 0, 0, .10)
}
.text-infoLight{
  color: lighten($info,10%)!important;
}
.text-infoLight:hover{
  color: darken($info,10%)!important;
}
.bg-cover{
  background-size: cover;
}
.position-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; 
}
.zindex-1 {
  z-index: -1; 
}
.zindex-2 {
  z-index: -2; 
}
.extendY-25 {
  min-height: 250px;
  @media (min-width:768px) {
    margin-top: -25px;
    margin-bottom: -25px;
  }
}
.verticalFont {
  @media (min-width:768px) {
    writing-mode: vertical-rl;
    line-height: 2.5;
  }
}
.my-md-6 {
  @media (min-width:768px) {
    margin-top: $spacer * 6;
    margin-bottom: $spacer * 6;
  }
}
.bg-md-info{
    color: $info;
  @media (min-width:768px) {
    background-color: $info;
    color: #fff;
  }
}
.border-white{
  border-color: #fff;
}
//商品卡
.card-images{
  height: 250px;
  position: relative;
  &-tag{
    position: absolute;
    top: 0;
    left: 15px;
    writing-mode: vertical-lr;
    letter-spacing: 5px;
  }
  &-icon{
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
  }
}
//favorite點選
.card-check,.icon-check{
  display: none;
  &:checked + .icon-uncheck{
    display: none;
    & ~ .icon-check{
    display: inline-block;
    }
  }
}
.card-lineR{
  border-right: 1px solid #ccc;
}


//購物車
.btn-cart{
  background-color: transparent;
  position: relative;
}
.btn-cart .badge{
  position: absolute;
  top:0;
  right:-3px;
}
.table-cart{
  min-width:300px;
}
.cart-image {
  height: 110px;
  min-width: 110px;
  background-position: center center;
  background-size: cover; 
}


//頁面
.header {
  position: relative; 
  .rectangle-wrap {
    position: relative;
    overflow: hidden;
    z-index: 2;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    letter-spacing: 10px;
    & + .rectangle-wrap{
      border-left: 1px solid white;
    }
    .rectangle-color {
      background-color: rgba($info,.8);
      transition: background-color .5s;
    }
    &.active, &:hover{
      color: darken($info,10%);
      font-weight: bolder;
      .rectangle-color{
        background-color: rgba($warning,.9);
      }
      .rectangle-image{
        filter: blur(0);
      }
    }
  }
  .rectangle-image {
    position: absolute;
    right: -10px;
    left: -10px;
    top: -10px;
    bottom: -10px;
    filter: blur(4px);
    transition: filter .5s;
  }
}

//結帳頁
.step-circle1, .step-circle2, .step-circle3{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid $warning;
  background-color: $info;
  z-index: 1;
  position: relative;
}
.step-circle1:nth-of-type(1)::before, .step-circle2:nth-of-type(2)::before, .step-circle3:nth-of-type(3)::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $warning;
  position: absolute;
  top: 2px;
  left: 2px;
}
.step-line{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: $warning;
}

//footer
.top{
  z-index: 10;
  position: fixed;
  right: 2rem;
  bottom: 3rem;
  padding: 1rem;
  background-color: lighten($warning,20%);
  color: darken($info, 15%);
  font-weight: bold;
  border-radius: 1.5rem;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: opacity(0.7);
  transition: all .3s;
  &:hover{
    letter-spacing: 5px;
    text-decoration: none;
    background-color: $info;
    color: #fff;
  }
}

//選單固定
.navfix{
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, .9);
  width: 100%;
}